@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #FF6B3D;
}

.JamZ {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 0;
}

.ReactApp {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
  margin-left: 100px;
  margin-right: 100px;
}

.title-and-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
}


